          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder-lg w-f-md" id="bjax-target">
                  <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
                  <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                    <span class="bar1 a1 bg-primary lter"></span>
                    <span class="bar2 a2 bg-info lt"></span>
                    <span class="bar3 a3 bg-success"></span>
                    <span class="bar4 a4 bg-warning dk"></span>
                    <span class="bar5 a5 bg-danger dker"></span>
                  </span></h2>
                  <div id="content-list" class="row row-sm">

                    <div v-for="(item, index) in docs" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                            <a :href="'/content/'+item.number+'/'"><img :src="item.images[0]" :alt="item.title" class="r r-2x img-full a-block"></a>
                        </div>
                        <div class="padder-v">
                          <p class="text-muted">{{item.title}}<br/>{{item.title}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                  </div>

                </section>
                <footer class="footer bg-dark">
                  <div id="jp_container_N">
                    <div class="jp-type-playlist">
                      <div id="jplayer_N" class="jp-jplayer hide"></div>
                      <div class="jp-gui">
                        <!-- footer info -->
                      </div>

                    </div>
                  </div>
                </footer>
              </section>
            </section>
            <!-- side content -->
            <!-- side bar remove -->
            <!-- / side content -->
          </section>
